main{
    background: linear-gradient(90deg, rgb(0, 0, 103) 0%, rgb(67, 164, 255) 100%);
}
.info-code{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.info-pro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.code{
    width: 400px;
}
.website-img{
    width: 400px;
}
.sq-list{
    list-style: square;
}
.project-flex{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    box-shadow: 5px 5px 10px 5px grey;
}
.card:hover{
    transform: translateY(-5px);
    transition: all 1s ease;
}
.home-card{
    width: 250px;
}
.home-card img{
    width: 250px;
    height: 250px;
    
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}

/* Pages */
.html-css{
    background: linear-gradient(90deg, orangered 0%, rgb(0, 128, 255) 100%);
}
.js{
    background: linear-gradient(90deg, yellow 0%, goldenrod 80%, rgb(137, 99, 3) 100%);
}
.react{
    background: linear-gradient(90deg, #0b97ba 0%, #61DBFB
    70%,  lightcyan 100%);
    color: #1c2c4c;
}
.mern{
    background: linear-gradient(90deg, rgb(0, 255, 0) 0%, rgb(65, 65, 65)
    25%,rgb(65, 65, 65) 40%, rgb(0, 204, 255) 60%, rgb(0, 204, 255) 65%, green 100%);
    color: white;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
}

.d-no{
    display: none !important;
}
@media screen and (max-width: 991.5px) {
    .d-no{
        display: block !important;
    }
    .m-no{
        display: none !important;
    }
}